.categories {
  display: flex;
  flex-direction: column;
  .MuiDataGrid-root .MuiDataGrid-columnsContainer {
    .MuiDataGrid-colCellTitle {
      color: #d5aa3d;
      font-weight: bolder;
    }
    background-color: #fff0b9;
  }
}
