.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: #263238;

  .login-form-wrapper {
    width: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-form {
      width: 25rem;
    }

    .sign-link {
      margin-bottom: 1.6rem;
      span {
        cursor: pointer;
        color: #00bcca;
      }
    }
  }

  .login-background {
    width: calc(100% - 30rem);
    max-width: 60%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1281px) {
  .login {
    .login-form-wrapper {
      width: 48%;
    }
    .login-background {
      width: 52%;
    }
  }
}
