.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: #263238;

  .login-form-wrapper {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -3rem;

    .login-form {
      width: 25rem;
    }

    .sign-link {
      margin-bottom: 1.6rem;
      span {
        cursor: pointer;
        color: #00bcca;
      }
    }
  }

  .login-background {
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
}
