.locations {
  height: 100%;
  .MuiTableHead-root {
    background-color: #F5EBFF;
  }
  .header {
    color: #8267CB;
    font-weight: bolder;
  }
  .MuiTableBody-root {
    background-color: white;
  }
}