.Header {
  display: flex;
  flex-direction: column;
  .TitlePanel {
    padding: 2em;
    border-bottom: 1px solid #eaeaea;
  }
  .Title {
    font-size: 1.5em;
    color: #334650;
    margin-bottom: 1em;
    font-weight: 500;
  }
  .LinkButton {
    margin-right: 1em;
    border-radius: 20em;
    font-size: 0.8em;
    width: 8em;
    margin-bottom: 1em;
  }
  .LinkButton.items {
    background-color: #cae2ff;
    color: #5b86c6;
  }
  .LinkButton.groups {
    background-color: #d8f2df;
    color: #74b17c;
  }
  .LinkButton.categories {
    background-color: #fff0b9;
    color: #d5aa3d;
  }
  .LinkButton.properties {
    background-color: #f5ebff;
    color: #8267cb;
  }
}
