.properties {
  display: flex;
  flex-direction: column;
  .MuiDataGrid-root .MuiDataGrid-columnsContainer {
    .MuiDataGrid-colCellTitle {
      color: #8267cb;
      font-weight: bolder;
    }
    background-color: #f5ebff;
  }
}
