.Sidebar {
  width: 6em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .MuiListItem-root {
    justify-content: center;
  }
  .IsActive {
    color: #00BCCA;
  }
}