.Sidebar {
  width: 6em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .MuiListItem-root {
    justify-content: center;
  }
  .MuiIconButton-root {
    color: #9BA6B2;
  }
  .MuiIconButton-root.IsActive {
    color: #00BCCA;
  }
  .MuiIconButton-root.Description, .Label {
    color: #334650;
  }
}

.Sidebar.Mobile {
  width: auto;
  .MuiListItem-root {
    justify-content: start;
  }
}