.sub-items {
  display: flex;
  flex-direction: column;
  .MuiDataGrid-root .MuiDataGrid-columnsContainer {
    .MuiDataGrid-colCellTitle {
      color: #5b86c6;
      font-weight: bolder;
    }
    background-color: #cae2ff;
  }
}
