.app {
  background-color: #F7F8FA;
  height: 100vh;
  .bar {
    background-color: white;
    color: #182B33;
    box-shadow: none;
  }
  .content {
    height: 100%;
    padding: 5em 2em;
  }
  .bar-shift, .content-shift {
    width: calc(100% - 10em);
    margin-left: 10em;
  }
}