.app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #f5f8fa;

  .page {
    width: calc(100% - 3.2rem);
    height: calc(100% - 6.6rem);
    margin: 1.6rem;
    background-color: white;
  }
}
