@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

.App {
  background-color: #F5F8FA;
  height: 100vh;
  display: flex;
  font-family: 'Heebo', sans-serif;
  .Content {
    width: calc(100vw - 6em);
  }
}