@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;

  .MuiPopover-paper {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }

  .MuiSnackbarContent-root {
    height: 2.4rem;
    background-color: #00bcca;
    color: white;
    .MuiSnackbarContent-message {
      width: 100%;
      padding: 0;
    }
    .MuiButtonBase-root {
      color: white;
    }
  }

  .MuiDialog-paperWidthSm {
    max-width: unset;
  }

  .MuiChip-root {
    border-color: #00bcca;
    background-color: #daf4f5;
  }

  .MuiChip-deleteIcon {
    color: #717171;
  }
}

a {
  text-decoration: none;
}
