.createLocation {
  display: flex;
  flex-direction: column;
  padding: 2em;
  .title {
    font-size: 1.5em;
    color: #334650;
    margin-bottom: 1em;
    font-weight: 500;
    font-family: 'Heebo';
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    .MuiButtonBase-root {
      background-color: #00bcca;
      color: white;
      box-shadow: none;
    }
    .Mui-disabled {
      background-color: #c8c8c8;
    }
    .success {
      background-color: #009d00;
    }
  }
  .progress {
    position: absolute;
  }
  .MuiFormControl-root {
    margin-bottom: 1em;
  }
}
